
__history/EnumeratorTrackingUnit.pas.~1~
__history/MCMT32_ASCOM.ridl.~2~
__history/MCMT32_ASCOM.ridl.~3~
__history/MCMT32_ASCOM.ridl.~4~
__history/MCMT32_ASCOM_TLB.pas.~2~
__history/MCMT32_ASCOM_TLB.pas.~3~
__history/mscorlib_TLB.pas.~2~
__history/RateEnumUnit.pas.~1~
__history/RateEnumUnit.pas.~2~
__history/TrackingRates_Unit.pas.~1~
Win32/Debug/AxisRates_Unit.dcu
Win32/Debug/EnumeratorTrackingUnit.dcu
Win32/Debug/MCMT32_ASCOM.exe
Win32/Debug/MCMT32_ASCOM_TLB.dcu
Win32/Debug/mscorlib_TLB.dcu
Win32/Debug/RateEnumUnit.dcu
Win32/Debug/Telescope_Unit.dcu
Win32/Debug/TrackingRates_Unit.dcu
Win32/Debug/VarGlobal.dcu
*.dcu
Win32/Debug/AxisRates_Unit.dcu
Win32/Debug/EnumeratorTrackingUnit.dcu
Win32/Debug/MCMT32_ASCOM.exe
Win32/Debug/MCMT32_ASCOM_TLB.dcu
Win32/Debug/mscorlib_TLB.dcu
Win32/Debug/RateEnumUnit.dcu
Win32/Debug/Telescope_Unit.dcu
Win32/Debug/TrackingRates_Unit.dcu
Win32/Debug/VarGlobal.dcu
__recovery/__recovery.ini
__recovery/AxisRates_Unit.pas
__recovery/MCMT32_ASCOM.ridl
__recovery/MCMT32_ASCOM_TLB.pas
__recovery/mscorlib_TLB.pas
__recovery/RateEnumUnit.pas
__recovery/TrackingRates_Unit.pas
__recovery/__recovery.ini
__recovery/MCMT32_ASCOM.ridl
__recovery/MCMT32_ASCOM_TLB.pas
__recovery/TrackingRates_Unit.pas
